/* SHOOTING STARS */

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1232px 547px #fff, 768px 171px #fff, 1199px 350px #fff, 1795px 693px #fff, 432px 95px #fff, 1665px 245px #fff, 395px 423px #fff, 963px 947px #fff, 1481px 801px #fff, 1847px 668px #fff, 482px 964px #fff, 910px 140px #fff, 1365px 60px #fff, 125px 209px #fff, 611px 193px #fff, 860px 622px #fff, 94px 890px #fff, 373px 578px #fff, 711px 884px #fff, 1454px 925px #fff, 1881px 62px #fff, 1726px 519px #fff, 1771px 880px #fff, 761px 454px #fff, 806px 20px #fff, 1041px 452px #fff, 988px 545px #fff, 450px 950px #fff, 471px 247px #fff, 88px 662px #fff, 1223px 286px #fff, 413px 823px #fff, 303px 577px #fff, 1592px 701px #fff, 867px 979px #fff, 158px 390px #fff, 16px 856px #fff, 1596px 965px #fff, 982px 802px #fff, 1553px 980px #fff, 991px 695px #fff, 1868px 51px #fff, 1391px 304px #fff, 468px 127px #fff, 1211px 781px #fff, 1434px 878px #fff, 909px 412px #fff, 1029px 462px #fff, 1887px 462px #fff, 25px 252px #fff, 1399px 952px #fff, 222px 176px #fff, 112px 401px #fff, 630px 789px #fff, 1201px 990px #fff, 1274px 906px #fff, 334px 242px #fff, 633px 961px #fff, 424px 103px #fff, 1645px 11px #fff, 1661px 999px #fff, 240px 685px #fff, 817px 859px #fff, 91px 97px #fff, 1792px 897px #fff, 1685px 308px #fff, 1747px 167px #fff, 1651px 318px #fff, 352px 818px #fff, 1909px 178px #fff, 726px 254px #fff, 1913px 703px #fff, 1882px 781px #fff, 159px 916px #fff, 765px 276px #fff, 92px 739px #fff, 351px 882px #fff, 82px 91px #fff, 326px 835px #fff, 25px 839px #fff, 1212px 295px #fff, 332px 962px #fff, 625px 747px #fff, 1177px 472px #fff, 366px 697px #fff, 428px 465px #fff, 1396px 13px #fff, 1792px 883px #fff, 998px 336px #fff, 443px 393px #fff, 1242px 41px #fff, 1605px 435px #fff, 1234px 283px #fff, 1500px 172px #fff, 1113px 677px #fff, 1818px 461px #fff, 30px 576px #fff, 1379px 303px #fff, 369px 744px #fff, 1469px 796px #fff, 1712px 755px #fff, 1628px 385px #fff, 304px 491px #fff, 1736px 970px #fff, 1115px 835px #fff, 585px 870px #fff, 1476px 891px #fff, 1723px 674px #fff, 1052px 603px #fff, 1561px 794px #fff, 960px 420px #fff, 1785px 961px #fff, 1266px 215px #fff, 956px 22px #fff, 437px 838px #fff, 280px 249px #fff, 1590px 619px #fff, 59px 318px #fff, 1866px 895px #fff, 1422px 892px #fff, 332px 234px #fff, 666px 886px #fff, 1231px 479px #fff, 212px 828px #fff, 57px 746px #fff, 1358px 807px #fff, 1658px 896px #fff, 1050px 315px #fff, 408px 71px #fff, 1349px 891px #fff, 1691px 178px #fff, 632px 12px #fff, 1466px 904px #fff, 1071px 723px #fff, 817px 771px #fff, 549px 874px #fff, 547px 767px #fff, 703px 559px #fff, 1563px 950px #fff, 504px 552px #fff, 1051px 15px #fff, 1888px 511px #fff, 475px 908px #fff, 3px 592px #fff, 825px 308px #fff, 904px 875px #fff, 313px 126px #fff, 1126px 51px #fff, 909px 651px #fff, 276px 886px #fff, 488px 502px #fff, 103px 667px #fff, 1554px 441px #fff, 1104px 345px #fff, 434px 243px #fff, 1745px 789px #fff, 155px 999px #fff, 1897px 662px #fff, 1844px 342px #fff, 1069px 565px #fff, 51px 958px #fff, 707px 316px #fff, 794px 907px #fff, 1607px 393px #fff, 478px 743px #fff, 766px 108px #fff, 398px 899px #fff, 1184px 839px #fff, 812px 432px #fff, 1876px 576px #fff, 1829px 176px #fff, 977px 290px #fff, 1733px 9px #fff, 1042px 534px #fff, 273px 792px #fff, 1583px 253px #fff, 677px 842px #fff, 1751px 232px #fff, 335px 305px #fff, 398px 940px #fff, 185px 1px #fff, 1737px 376px #fff, 1572px 984px #fff, 216px 958px #fff, 1772px 45px #fff, 1525px 651px #fff, 1217px 841px #fff, 921px 518px #fff, 154px 878px #fff, 1878px 605px #fff, 1219px 727px #fff, 1394px 373px #fff, 824px 239px #fff, 33px 388px #fff, 1235px 129px #fff, 517px 107px #fff, 945px 972px #fff, 1354px 413px #fff, 1125px 642px #fff, 446px 394px #fff, 1042px 74px #fff, 369px 811px #fff, 1356px 760px #fff, 1410px 281px #fff, 525px 239px #fff, 1590px 573px #fff, 789px 968px #fff, 981px 152px #fff, 1801px 954px #fff, 1643px 669px #fff, 74px 326px #fff, 216px 255px #fff, 189px 127px #fff, 1457px 498px #fff, 1162px 360px #fff, 1356px 263px #fff, 1116px 157px #fff, 1244px 966px #fff, 52px 5px #fff, 581px 995px #fff, 974px 208px #fff, 1107px 829px #fff, 723px 193px #fff, 211px 787px #fff, 171px 276px #fff, 154px 602px #fff, 1033px 698px #fff, 153px 820px #fff, 357px 294px #fff, 1744px 345px #fff, 907px 994px #fff, 1229px 529px #fff, 564px 458px #fff, 2px 611px #fff, 517px 573px #fff, 1823px 154px #fff, 1636px 494px #fff, 489px 465px #fff, 840px 396px #fff, 1801px 44px #fff, 1061px 925px #fff, 51px 654px #fff, 1081px 951px #fff, 205px 450px #fff, 1333px 791px #fff, 256px 383px #fff, 1077px 450px #fff, 394px 776px #fff, 30px 749px #fff, 828px 440px #fff, 1502px 573px #fff, 1665px 895px #fff, 354px 326px #fff, 789px 23px #fff, 1860px 869px #fff, 1568px 734px #fff, 856px 161px #fff, 1297px 22px #fff, 1458px 203px #fff, 733px 487px #fff, 333px 105px #fff, 883px 359px #fff, 1026px 587px #fff, 1396px 206px #fff, 444px 383px #fff, 1872px 905px #fff, 1366px 970px #fff, 1443px 733px #fff, 990px 939px #fff, 858px 341px #fff, 131px 383px #fff, 917px 632px #fff, 1234px 207px #fff, 1px 945px #fff, 571px 273px #fff, 1902px 328px #fff, 1223px 339px #fff, 1197px 549px #fff, 1487px 302px #fff, 929px 817px #fff, 153px 695px #fff, 1148px 408px #fff, 763px 291px #fff, 399px 342px #fff, 889px 884px #fff, 1053px 117px #fff, 402px 709px #fff, 271px 908px #fff, 119px 667px #fff, 389px 748px #fff, 1691px 752px #fff, 58px 759px #fff, 1782px 777px #fff, 707px 918px #fff, 408px 10px #fff, 1086px 642px #fff, 490px 766px #fff, 1256px 456px #fff, 1090px 867px #fff, 1678px 904px #fff;
}
.meteor-1 {
  position: absolute;
  top: 64px;
  left: 13%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.2s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-2 {
  position: absolute;
  top: 70px;
  left: 82%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-3 {
  position: absolute;
  top: 122px;
  left: 46%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.3s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-4 {
  position: absolute;
  top: 226px;
  left: 42%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.8s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-5 {
  position: absolute;
  top: 184px;
  left: 38%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.3s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-6 {
  position: absolute;
  top: 248px;
  left: 81%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.7s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-7 {
  position: absolute;
  top: 288px;
  left: 66%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-8 {
  position: absolute;
  top: 72px;
  left: 18%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.4s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-9 {
  position: absolute;
  top: 300px;
  left: 60%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.5s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-10 {
  position: absolute;
  top: 73px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.4s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-11 {
  position: absolute;
  top: 202px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-12 {
  position: absolute;
  top: 61px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.9s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-13 {
  position: absolute;
  top: 86px;
  left: 63%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.2s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-14 {
  position: absolute;
  top: 209px;
  left: 38%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.2s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-15 {
  position: absolute;
  top: 93px;
  left: 27%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.8s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor { 
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
 }
  12% {
    opacity: 0;
 }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
 }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1232px 547px #fff, 768px 171px #fff, 1199px 350px #fff, 1795px 693px #fff, 432px 95px #fff, 1665px 245px #fff, 395px 423px #fff, 963px 947px #fff, 1481px 801px #fff, 1847px 668px #fff, 482px 964px #fff, 910px 140px #fff, 1365px 60px #fff, 125px 209px #fff, 611px 193px #fff, 860px 622px #fff, 94px 890px #fff, 373px 578px #fff, 711px 884px #fff, 1454px 925px #fff, 1881px 62px #fff, 1726px 519px #fff, 1771px 880px #fff, 761px 454px #fff, 806px 20px #fff, 1041px 452px #fff, 988px 545px #fff, 450px 950px #fff, 471px 247px #fff, 88px 662px #fff, 1223px 286px #fff, 413px 823px #fff, 303px 577px #fff, 1592px 701px #fff, 867px 979px #fff, 158px 390px #fff, 16px 856px #fff, 1596px 965px #fff, 982px 802px #fff, 1553px 980px #fff, 991px 695px #fff, 1868px 51px #fff, 1391px 304px #fff, 468px 127px #fff, 1211px 781px #fff, 1434px 878px #fff, 909px 412px #fff, 1029px 462px #fff, 1887px 462px #fff, 25px 252px #fff, 1399px 952px #fff, 222px 176px #fff, 112px 401px #fff, 630px 789px #fff, 1201px 990px #fff, 1274px 906px #fff, 334px 242px #fff, 633px 961px #fff, 424px 103px #fff, 1645px 11px #fff, 1661px 999px #fff, 240px 685px #fff, 817px 859px #fff, 91px 97px #fff, 1792px 897px #fff, 1685px 308px #fff, 1747px 167px #fff, 1651px 318px #fff, 352px 818px #fff, 1909px 178px #fff, 726px 254px #fff, 1913px 703px #fff, 1882px 781px #fff, 159px 916px #fff, 765px 276px #fff, 92px 739px #fff, 351px 882px #fff, 82px 91px #fff, 326px 835px #fff, 25px 839px #fff, 1212px 295px #fff, 332px 962px #fff, 625px 747px #fff, 1177px 472px #fff, 366px 697px #fff, 428px 465px #fff, 1396px 13px #fff, 1792px 883px #fff, 998px 336px #fff, 443px 393px #fff, 1242px 41px #fff, 1605px 435px #fff, 1234px 283px #fff, 1500px 172px #fff, 1113px 677px #fff, 1818px 461px #fff, 30px 576px #fff, 1379px 303px #fff, 369px 744px #fff, 1469px 796px #fff, 1712px 755px #fff, 1628px 385px #fff, 304px 491px #fff, 1736px 970px #fff, 1115px 835px #fff, 585px 870px #fff, 1476px 891px #fff, 1723px 674px #fff, 1052px 603px #fff, 1561px 794px #fff, 960px 420px #fff, 1785px 961px #fff, 1266px 215px #fff, 956px 22px #fff, 437px 838px #fff, 280px 249px #fff, 1590px 619px #fff, 59px 318px #fff, 1866px 895px #fff, 1422px 892px #fff, 332px 234px #fff, 666px 886px #fff, 1231px 479px #fff, 212px 828px #fff, 57px 746px #fff, 1358px 807px #fff, 1658px 896px #fff, 1050px 315px #fff, 408px 71px #fff, 1349px 891px #fff, 1691px 178px #fff, 632px 12px #fff, 1466px 904px #fff, 1071px 723px #fff, 817px 771px #fff, 549px 874px #fff, 547px 767px #fff, 703px 559px #fff, 1563px 950px #fff, 504px 552px #fff, 1051px 15px #fff, 1888px 511px #fff, 475px 908px #fff, 3px 592px #fff, 825px 308px #fff, 904px 875px #fff, 313px 126px #fff, 1126px 51px #fff, 909px 651px #fff, 276px 886px #fff, 488px 502px #fff, 103px 667px #fff, 1554px 441px #fff, 1104px 345px #fff, 434px 243px #fff, 1745px 789px #fff, 155px 999px #fff, 1897px 662px #fff, 1844px 342px #fff, 1069px 565px #fff, 51px 958px #fff, 707px 316px #fff, 794px 907px #fff, 1607px 393px #fff, 478px 743px #fff, 766px 108px #fff, 398px 899px #fff, 1184px 839px #fff, 812px 432px #fff, 1876px 576px #fff, 1829px 176px #fff, 977px 290px #fff, 1733px 9px #fff, 1042px 534px #fff, 273px 792px #fff, 1583px 253px #fff, 677px 842px #fff, 1751px 232px #fff, 335px 305px #fff, 398px 940px #fff, 185px 1px #fff, 1737px 376px #fff, 1572px 984px #fff, 216px 958px #fff, 1772px 45px #fff, 1525px 651px #fff, 1217px 841px #fff, 921px 518px #fff, 154px 878px #fff, 1878px 605px #fff, 1219px 727px #fff, 1394px 373px #fff, 824px 239px #fff, 33px 388px #fff, 1235px 129px #fff, 517px 107px #fff, 945px 972px #fff, 1354px 413px #fff, 1125px 642px #fff, 446px 394px #fff, 1042px 74px #fff, 369px 811px #fff, 1356px 760px #fff, 1410px 281px #fff, 525px 239px #fff, 1590px 573px #fff, 789px 968px #fff, 981px 152px #fff, 1801px 954px #fff, 1643px 669px #fff, 74px 326px #fff, 216px 255px #fff, 189px 127px #fff, 1457px 498px #fff, 1162px 360px #fff, 1356px 263px #fff, 1116px 157px #fff, 1244px 966px #fff, 52px 5px #fff, 581px 995px #fff, 974px 208px #fff, 1107px 829px #fff, 723px 193px #fff, 211px 787px #fff, 171px 276px #fff, 154px 602px #fff, 1033px 698px #fff, 153px 820px #fff, 357px 294px #fff, 1744px 345px #fff, 907px 994px #fff, 1229px 529px #fff, 564px 458px #fff, 2px 611px #fff, 517px 573px #fff, 1823px 154px #fff, 1636px 494px #fff, 489px 465px #fff, 840px 396px #fff, 1801px 44px #fff, 1061px 925px #fff, 51px 654px #fff, 1081px 951px #fff, 205px 450px #fff, 1333px 791px #fff, 256px 383px #fff, 1077px 450px #fff, 394px 776px #fff, 30px 749px #fff, 828px 440px #fff, 1502px 573px #fff, 1665px 895px #fff, 354px 326px #fff, 789px 23px #fff, 1860px 869px #fff, 1568px 734px #fff, 856px 161px #fff, 1297px 22px #fff, 1458px 203px #fff, 733px 487px #fff, 333px 105px #fff, 883px 359px #fff, 1026px 587px #fff, 1396px 206px #fff, 444px 383px #fff, 1872px 905px #fff, 1366px 970px #fff, 1443px 733px #fff, 990px 939px #fff, 858px 341px #fff, 131px 383px #fff, 917px 632px #fff, 1234px 207px #fff, 1px 945px #fff, 571px 273px #fff, 1902px 328px #fff, 1223px 339px #fff, 1197px 549px #fff, 1487px 302px #fff, 929px 817px #fff, 153px 695px #fff, 1148px 408px #fff, 763px 291px #fff, 399px 342px #fff, 889px 884px #fff, 1053px 117px #fff, 402px 709px #fff, 271px 908px #fff, 119px 667px #fff, 389px 748px #fff, 1691px 752px #fff, 58px 759px #fff, 1782px 777px #fff, 707px 918px #fff, 408px 10px #fff, 1086px 642px #fff, 490px 766px #fff, 1256px 456px #fff, 1090px 867px #fff, 1678px 904px #fff;
  }
  .meteor-1 {
    position: absolute;
    top: 64px;
    left: 13%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.2s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-2 {
    position: absolute;
    top: 70px;
    left: 56%;
    width: 150px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-3 {
    position: absolute;
    top: 122px;
    left: 46%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.3s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-4 {
    position: absolute;
    top: 226px;
    left: 42%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.8s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-5 {
    position: absolute;
    top: 184px;
    left: 38%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.3s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-6 {
    position: absolute;
    top: 248px;
    left: 55%;
    width: 150px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.7s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-7 {
    position: absolute;
    top: 288px;
    left: 59%;
    width: 150px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-8 {
    position: absolute;
    top: 72px;
    left: 18%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.4s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-9 {
    position: absolute;
    top: 300px;
    left: 60%;
    width: 150px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.5s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-10 {
    position: absolute;
    top: 73px;
    left: 43%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.4s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-11 {
    position: absolute;
    top: 202px;
    left: 15%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-12 {
    position: absolute;
    top: 61px;
    left: 15%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.9s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-13 {
    position: absolute;
    top: 86px;
    left: 58%;
    width: 150px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.2s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-14 {
    position: absolute;
    top: 209px;
    left: 38%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.2s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
  .meteor-15 {
    position: absolute;
    top: 93px;
    left: 27%;
    width: 200px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.8s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
  }
}